* {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

body {
  height: 100vh;
}

header {
 background-color:  #c00909;
 height: 90px; 

}

.autopom {
  padding: 27px 0 30px 55px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

#title {
  color: #c00909;
  margin:85px 0 20px 0;
  font-size: 3em;
  transition: .2s ease-in-out;
} 

/* #title:hover {
  animation: pulse 0.3s linear 1;
} */

@keyframes pulse {
  50%  {transform: scale(1.1);}
}

img {
  width: 100px;
  margin-bottom: 20px;
  transition: .4s ease-in-out;
}

img:hover {
  transform: rotate(-10deg);
}
 img:active {
   transition: .1s;
   transform: rotate(20deg);
   transform: scale(.92, .92);
 }

#countdown {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: rgba(26, 153, 0, 0.699);
  background-color: rgba(147, 228, 27, 0.486);
  padding: 10px;
  width: 200px;
  margin: 0 auto 30px auto;
  border-radius: 4px;
}

.buttons {
  margin: 0 auto;
}

.btn {
  border-radius: 50px;
  border: none;
  padding: 7px 17px;
  margin: 0 8px;
  font-size: 1.5em;
  color: white;
  background-color:  #c00909;
}

.btn:hover {
  background-color:rgb(53, 167, 0);
  animation: pulse 0.2s linear 1;
}

/* #break-btn {
  display: block;
  margin: 15px auto 0 auto;
} */

@media only screen and (max-width: 768px) {
  #title {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  
  .autopom {
    padding-left: 0;
    text-align: center;
  }
}

